.productDetail {
  display: flex;
  padding: 1rem;
  background-color: white;
  border: 1px solid lightgray;
}

.productDetail__image {
  flex: 1;
  padding-right: 1rem;
}

.productDetail__info {
  flex: 1;
}

.productDetail__addToBasketButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 0.5rem;
  cursor: pointer;
}
